*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
div.wrapper{
    width: 100%;
   background-image: url(../images/110400.jpg);
   background-size: cover;
   position: absolute;
    
}
:root{
    --width:100%;
    --bgcolor:black;
}